header {
    background-color: rgb(157, 234, 41);
    width: 100%;
    border:1px solid black;
  }
  
  .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .title h2 {
    font-size: 1.5rem;
  }
  
  .menu-icon {
    font-size: 2rem !important;
  }
  
  
  .btn_lists ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    text-align: center;
    
    line-height:60px;
  }
  .btn1 {
    background-color: lightblue;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: white;
    border-color: black;
  }
  .btn2 {
    border: 1px solid black;
    background-color: rgb(157, 234, 41);
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  .text_img{
    width: 5%;
    vertical-align: middle;
    margin-right:10px;
    margin:5px 10px 5px 0px;
    padding:15px;
    margin-left:0px;
    background-color: white;
    
  }
  
  .mail p {
    text-align: center;
  }
  
  .address {
    border-bottom: 2px;
    text-decoration:underline;
  }