header {
  background-color: rgb(157, 234, 41);
  width: 100%;
  border: 1px solid black;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title h2 {
  font-size: 1.5rem;
}

.menu-icon {
  font-size: 2rem !important;
}

.map-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-search-container {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
  margin-top: 1rem;
  background-color: rgb(157, 234, 41);
}

.event-search {
  width: 100%;
  max-width: 240px;
  font-size: 1rem;
  margin-left:0.2rem;
}

.filter-icon {
  font-size: 2rem !important;
}

.event-list-container {
  width: 100%;
  margin-top: 1rem;
}

.event-list-title {
  background-color: rgb(157, 234, 41);
  height: 3rem;
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.event-list-title h2 {
  margin-left: 1rem;
}

.map-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-container {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
}

.green {
  width: 100%;
  height: 20px;
  max-width: 20%;
  background-color: green;
  color: white;
  font-size: 2px;
  margin-top: -1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.blue {
  width: 100%;
  height: 20px;
  max-width: 20%;
  background-color: cornflowerblue;
  color: white;
  font-size: 2px;
  margin-top: -1rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.red {
  width: 100%;
  height: 20px;
  max-width: 20%;
  background-color: red;
  color: white;
  font-size: 2px;
  margin-top: -1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.btn-search {
  padding: 3px;
  font-size:1px;
  margin-left:0.1rem;
  width:100%;
  max-width:10%;
}

.filter-container{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  margin-bottom:1rem;
}

.date-box{
  width:100%;
  max-width:100px;
  background-color:rgb(157, 234, 41);
  padding:10px;
  border-radius:5px;
  font-weight:bold;
}

.selector{
  font-size:10px !important;
}

.clearIcon{
  margin-top:-4rem !important;
  margin-right:-1.7rem !important;
  font-size:20px !important;
}