.event-item{
  background-color: white;
  display: flex;
  flex-direction: column;
}

.event-item p {
  margin-left: 1rem;
}

.event-item-title{
  color:dodgerblue;
}

.event-item-time {
  margin-top: -1rem;
}

.event-item-location {
  margin-top: -1rem;
}

.event-favorite{
  border-bottom: 1px solid black;
  display:flex;
  justify-content: right;
}

.favorite-btn{
  padding:0.5rem;
  margin-bottom:1rem;
  margin-right:1rem;
  border:none;
  background-color:gold;
  color:black;
  border-radius:5px;
}
