.leaflet-container {
  width: 100%;
  max-width: 320px;
  height: 250px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.mapContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset-btn {
  margin-top: 1rem;
  padding: 3px;
  margin-left: 15rem;
}
